  /* Body */
body {
    font-family: Arial, sans-serif;
    background-color: ##fafafa;
    margin: 0;
    padding: 0;
}

/* Header */
h1 {
    color: #D9AE6A;
    font-size: 36px;
    font-weight: bold;
    margin-left: 10px;
}

h2 {
    color: #D9AE6A;
    font-size: 24px;
    font-weight: normal;
    margin-left: 10px;
}

.product-image {
    width: 100px;  /* Adjust the width */
    height: auto;  /* Maintain the aspect ratio */
    object-fit: cover;  /* Make sure the image covers the area without distorting */
    border-radius: 8px;  /* Optional: Adds rounded corners to the image */
    margin-bottom: 10px;  /* Adds space below the image */
}

/* Chat container */
#chat {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
}

/* Messages */
#messages {
    overflow-y: auto;
    max-height: 300px;
}

/* Input field */
#messageInput {
    width: calc(100% - 80px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Send button */
button {
    background-color: #3b5998;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2e4a86;
}

/* Message container */
.message {
    background-color: #f0f2f5;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
}

.message.sender {
    background-color: #dcf8c6;
}

.message.sender:before {
    content: "You: ";
    font-weight: bold;
}

.message.other {
    background-color: #fff;
}

.message.other:before {
    content: "Ina mo (Chat Support): ";
    font-weight: bold;
}

header img {
    width: 5px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
